<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.libill.demos"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="10" />

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- Home监听需要的权限 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.libill.demos.activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ArrayAdapterListActivity" />
        <activity android:name=".activity.ArrayAdapterActivity" />
        <activity android:name=".activity.SimpleAdapterActivity" />
        <activity android:name=".activity.SimpleAdapterListActivity" />
        <activity android:name=".activity.SimpleCursorAdapterActivity" />
        <activity android:name=".activity.BaseAdapterActivity" />
        <activity android:name=".activity.KeyWatchActivity" />
        <activity android:name=".activity.ServiceActivity" />
        <activity android:name=".activity.PhoneInfomationActivity" />
        
        <activity android:name=".activity.LifecycleActivity"/>
        <activity android:name=".activity.SharePreferencesActivity"/>
        
        
        <service
            android:name=".service.HomeKeyWatchService"
            android:enabled="true"
            android:exported="false" >
        </service>
        <service
            android:name=".service.ScreenLockWatchService"
            android:enabled="true"
            android:exported="false" >
        </service>
        <service android:name=".service.MyService" >
        </service>
        <service
            android:name=".service.RemoteService"
            android:process=":remote" >
            <intent-filter>
                <action android:name="com.libill.demos.service.RemoteAIDLService" />
            </intent-filter>
        </service>
    </application>

</manifest>
