<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.libill.demos"
    >

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- Home监听需要的权限 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name="com.libill.demos.ui.home.MainActivity"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ArrayAdapterListActivity"
            android:launchMode="singleTask"
            />
        <activity android:name=".activity.ArrayAdapterActivity" />
        <activity android:name=".activity.ArrayAdapterActivity2" />
        <activity android:name=".activity.SimpleAdapterActivity" />
        <activity android:name=".activity.SimpleAdapterListActivity" />
        <activity android:name=".activity.SimpleCursorAdapterActivity" />
        <activity android:name=".activity.BaseAdapterActivity" />
        <activity android:name=".activity.KeyWatchActivity" />
        <activity android:name=".activity.ServiceActivity" />
        <activity android:name=".activity.PhoneInformationActivity" />
        <activity
            android:name=".activity.LifecycleActivity"
            android:launchMode="singleTop"
            />
        <activity android:name=".activity.SharePreferencesActivity" />
        <activity android:name=".activity.UDPActivity" />
        <activity android:name=".activity.UDPServerActivity" />
        <activity android:name=".activity.SeekBarActivity" />
        <activity android:name=".activity.SideBarActivity" />
        <activity android:name=".ui.stickyheader.StickyHeaderActivity" />
        <activity android:name=".ui.multi.MultiTypeActivity" />
        <activity android:name=".activity.RecycleViewActivity" />


        <service
            android:name=".service.HomeKeyWatchService"
            android:enabled="true"
            android:exported="false"
            />
        <service
            android:name=".service.ScreenLockWatchService"
            android:enabled="true"
            android:exported="false"
            />
        <service android:name=".service.MyService" />
        <service
            android:name=".service.RemoteService"
            android:exported="true"
            android:process=":remote"
            >
            <intent-filter>
                <action android:name="com.libill.demos.service.RemoteAIDLService" />
            </intent-filter>
        </service>
    </application>

</manifest>